In [1]:
# importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#loading the dataset
df = pd.read_csv("USA_Housing.csv")
df

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386
...,...,...,...,...,...,...,...
4995,60567.944140,7.830362,6.137356,3.46,22837.361035,1.060194e+06,USNS Williams\nFPO AP 30153-7653
4996,78491.275435,6.999135,6.576763,4.02,25616.115489,1.482618e+06,"PSC 9258, Box 8489\nAPO AA 42991-3352"
4997,63390.686886,7.250591,4.805081,2.13,33266.145490,1.030730e+06,"4215 Tracy Garden Suite 076\nJoshualand, VA 01..."
4998,68001.331235,5.534388,7.130144,5.44,42625.620156,1.198657e+06,USS Wallace\nFPO AE 73316
4999,65510.581804,5.992305,6.792336,4.07,46501.283803,1.298950e+06,"37778 George Ridges Apt. 509\nEast Holly, NV 2..."

In [4]:
df.isna()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
4995,False,False,False,False,False,False,False
4996,False,False,False,False,False,False,False
4997,False,False,False,False,False,False,False
4998,False,False,False,False,False,False,False
4999,False,False,False,False,False,False,False

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

In [6]:
df.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'Address'],
      dtype='object')

In [7]:
#input or independent variables
x = data[['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms','Avg. Area Number of Bedrooms', 'Area Population']]
#output or dependent variables
y = data['Price']

In [8]:
#splitting the datasets into training and test data
from sklearn.model_selection import train_test_split
x_train, x_test,y_train,y_test = train_test_split(x,y,test_size=0.33,random_state=42)
print('shape of x_train: ',x_train.shape)
print('shape of x_test: ',x_test.shape)
print('shape of y_train: ',y_train.shape)
print('shape of y_test: ',y_test.shape)

shape of x_train:  (3350, 5)
shape of x_test:  (1650, 5)
shape of y_train:  (3350,)
shape of y_test:  (1650,)

In [9]:
# importing the model
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [10]:
lr.fit(x_train,y_train) #training the model

LinearRegression()

In [12]:
pred_y = lr.predict(x_test)
pred_y

array([1310035.96931555, 1238811.85458521, 1245265.83079161, ...,
       1024496.94962137, 1548581.80349704, 1032639.16178957])

In [15]:
#evaluation metrics
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
mse = mean_squared_error(y_test, pred_y) #mean Square error
mae = mean_absolute_error(y_test, pred_y) # mean absolute error
r2 = r2_score(y_test, pred_y) #r2 score

print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)
print("R-squared:", r2)

Mean Squared Error: 10013679978.582317
Mean Absolute Error: 80893.81190769958
R-squared: 0.9165334724138317

In [21]:
#unseen data
value = np.array([35000,5,5,2,50000])
print("shape of array before reshaping: ",value.shape)
#we need to reshape the array -> to convert (1,5) to (5,1) columns
value = value.reshape(1,5)
print("shape after reshaping:",value.shape)

shape of array before reshaping:  (5,)
shape after reshaping: (1, 5)

In [22]:
#predicting the value
output = lr.predict(value)
print(output)  # -> displays the data in form of list
#print(output[0])-> only number will be displayed instead of list

[312873.4040569]

C:\Users\KRISHNA MOHAN\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [1]:
import pandas as pd

In [2]:
ds = pd.read_csv("laptopPrice.csv")
ds

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,ASUS,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,ASUS,Intel,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,0 GB,Casual,1 year,No,No,135990,3 stars,0,0
819,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,0 GB,Casual,1 year,No,No,144990,3 stars,0,0
820,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,4 GB,Casual,1 year,No,No,149990,3 stars,0,0
821,ASUS,AMD,Ryzen 9,Not Available,4 GB,DDR4,1024 GB,0 GB,Windows,64-bit,4 GB,Casual,1 year,No,No,142990,3 stars,0,0
822,Lenovo,AMD,Ryzen 5,10th,8 GB,DDR4,512 GB,0 GB,DOS,64-bit,0 GB,ThinNlight,No warranty,No,No,57490,4 stars,18,4

In [3]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder() # object created

In [6]:
c = (['brand','processor_brand', 'processor_name', 'processor_gnrtn',
       'ram_gb', 'ram_type', 'ssd', 'hdd', 'os', 'os_bit', 'graphic_card_gb',
       'weight', 'warranty', 'Touchscreen', 'msoffice','rating'])
for i in c:
    ds[i] = le.fit_transform(ds[i])

ds

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,1,1,1,0,2,1,0,1,2,1,0,0,3,0,0,34649,1,3,0
1,5,1,1,0,2,1,0,1,2,1,0,0,3,0,0,38999,2,65,5
2,5,1,1,0,2,1,0,1,2,1,0,0,3,0,0,39999,2,8,1
3,1,1,2,0,3,1,6,0,2,0,1,0,3,0,0,69990,2,0,0
4,1,1,0,7,2,1,0,3,2,1,0,0,3,0,0,26990,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,1,0,10,7,2,1,1,0,2,1,0,0,0,0,0,135990,2,0,0
819,1,0,10,7,2,1,1,0,2,1,0,0,0,0,0,144990,2,0,0
820,1,0,10,7,2,1,1,0,2,1,2,0,0,0,0,149990,2,0,0
821,1,0,10,7,2,1,1,0,2,1,2,0,0,0,0,142990,2,0,0
822,5,0,8,0,3,1,6,0,0,1,0,2,3,0,0,57490,3,18,4

In [15]:
ds['brand']

0      1
1      5
2      5
3      1
4      1
      ..
818    1
819    1
820    1
821    1
822    5
Name: brand, Length: 823, dtype: int32

ModuleNotFoundError: No module named 'shap'

In [20]:
ds['brand'].value_counts()

brand
1    249
3    151
5    144
4    136
7     51
6     50
0     28
2     14
Name: count, dtype: int64

In [24]:
print(le.inverse_transform(ds['brand']))

ValueError: y contains previously unseen labels: [5 6 7]